$width-full: 100%;
$width-xxl: 3.5rem;

$height-xxl: 3.5rem;
$height-xl: 3rem;
$height-l: 2rem;
$height-n: 1rem;

$border-radius-xl: 2rem;
$border-radius-l: 1.75rem;
$border-radius-n: 1rem;
$border-radius-s: 0.5rem;

$border-n: 2px solid;
$border-s: 1px solid;
