$margin-n: 1rem;
$margin-s: 0.75rem;
$margin-xs: 0.5rem;

$padding-xxl: 2rem;
$padding-xl: 1.5rem;
$padding-l: 1.25rem;
$padding-n: 1rem;
$padding-s: 0.75rem;
$padding-xs: 0.5rem;
$padding-xxs: 0.25rem;
