@use "../variables/fonts" as *;
@use "../variables/spacing" as *;
@use "../variables/colors" as *;
@use "../variables/sizes" as *;
@use "../variables/mixins" as *;

/* Search input */
.input-box {
  position: relative;
  display: inline-block;
  width: $width-full;
  margin-bottom: $margin-n;

  input {
    padding: $padding-xxs;
    padding-left: $padding-n;
    padding-right: $padding-xxl;
    height: $height-xl;
    width: $width-full;
    background-color: $bg-control;
    border-radius: $border-radius-l;
    font-size: $font-size-n;
    border: none;
    outline: none;
  }

  .icon {
    @include center-y-right(10px);
    pointer-events: none;

    svg {
      fill: $text-muted;
    }
  }
}
